.Textfield {
    color: white;
    margin-left: auto;
    margin-right: auto;
}

.location__h2__error {
    text-align: center;
    margin: 2vh;
}

.hidden {
    display: none;
}

.Location__form {
   display: inline-block;
   margin: auto 12rem auto 12rem;
   width: 100%;
}

@media only screen and (max-width: 600px) {
    .Location__form {
        display: flex;
        flex-direction: column;
        margin: auto;
    }
}
